<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.AdmMapper">

<!--CustMapper(는,kbmapper 인터페이스에서 상속받았지) 에서 사용할 함수들의 명칭이 아래 적힌다. -->

    <select id="select" parameterType="String" resultType="adm">
        SELECT * FROM adm WHERE id=#{id}
    </select>
    <select id="selectall" resultType="adm">
        SELECT * FROM adm
    </select>
    <insert id="insert" parameterType="adm">
        INSERT INTO adm VALUES (#{id},#{pwd},#{lev})
    </insert>
    <update id="update" parameterType="adm">
        UPDATE adm SET lev=#{lev},pwd=#{pwd} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM adm WHERE id=#{id}
    </delete>

</mapper>